
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto&family=Rubik:wght@300;400;500;600;700&display=swap');
@import './reset.scss';
@import './mixins.scss';


.section{
    &-main{
        padding-top: 40px;
        position: relative;
        max-width: 1920px;
        margin: 0 auto;
        min-height: 700px;

        &::after, &::before{
            height: 764px;
            width: 1363px;
            content: '';
            position: absolute;
            display: block;
            top: 0;
            right: 0;
            z-index: -1;
        }
        &::after{
            background: url('../images/snow.gif') no-repeat center/cover;
            opacity: 0.1;
        }
        &::before{
            background: url('../images/bg.png') no-repeat center/cover;
            opacity: 0.3;
        }
    }
    &-dual{
        margin-top: 54px;
    }
    &-about{
        margin-top: 90px; 
    }
    &-explore{
        margin-top: 80px;
    }
    &-news, 
    &-faq{
        margin-top: 100px;
    }
}

.header{
    align-items: center;

    &-menu{
        align-items: center;

        &__button{
            width: 25px;
            height: 16px;
            cursor: pointer;
            position: relative;
            z-index: 1;
            transition: width .25s;
            span{
                width: 25px;
                height: 2px;
                background: $white;
                position: relative;
                display: block;

                &::after, &::before{
                    content:'';
                    display: block;
                    width: 12px;
                    height: 2px;
                    background: $white;
                    position: absolute;
                    transition: width .25s;
                }
                &::after{
                    top: 5px;
                }
                &::before{
                    width: 25px;
                    top: 10px;
                }
            }
        }
        &__list{
            margin-left: 50px;
            ul{
                column-gap: 24px;
                font-weight: 400;
                font-size: 14px;
                line-height: 27px;
                text-transform: uppercase;
                transform: translateX(-200px);
                opacity: 0;
            }
        }
        &__link{
            position: relative;
            color: rgba(255, 255, 255, .5);
            transition: color .25s;

            &:hover{
                color: $violet;
            }
            &.lang{
                color: $white;
                font-weight: 700;
                cursor: pointer;
                &:hover{
                    .header-menu__languages{
                        display: block;
                    }
                }
                svg{
                    width: 16px;
                    height: 16px;
                    fill: $white !important;
                    transform: rotate(180deg);
                    margin-right: 9px;
                }
            }
        }
        &__languages{
            padding: 10px 15px;
            border-radius: 6px;
            background: $dark;
            position: absolute;
            display: none;
        }
        &__language{
            font-weight: 500;
            cursor: pointer;
            font-size: 13px;
            color: rgba(255, 255, 255, .5);
            transition: color .25s;

            &:hover{
                color: $violet;
            }

        }
    }
    &.opened{
        .header{
            &-menu{
                &__button{
                    span{
                        width: 12px;
                        &::after{
                            width: 25px;
                        }
                        &::before{
                            width: 12px;
                        }
                    }
                }
                &__list{
                    z-index: 1;
                    ul{
                        opacity: 1;
                        transform: translateX(0);
                        transition: opacity .2s, transform 0.25s;
                    }
                }
            }
        }
    }
    &-timer{
        margin-left: auto;
        column-gap: 19px;
        font-size: 16px;
        font-weight: 400;
        span{
            font-weight: 400;
            line-height: 19px;
            color: $grey;

        }
        &__values{
            column-gap: 10px;

        }
        &__item{
            color: $sea;
            &-value{
                font-weight: 700;
                font-size: 40px;
                line-height: 47px;
                min-width: 55px;
                text-align: center;
            }
            &-info{
                text-align: center;
            }
        }
    }
}

.description{
    margin-top: 7%;
    max-width: 540px;
    animation: move 1s ease-in-out;

    &-title{
        h1{
            font-weight: 600;
            font-size: 100px;
            line-height: 100px;
            color: $white;
        }
    }
    &-subtitle{
        font-family: 'Inter';
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        margin-top: 26px;
        color: $sea;
    }
    &-button{
        @include button;
        @include hoverViolet;
        margin-top: 35px;
    }
}

.editions{
    &-list{
        margin-top: 32px;
        display: grid;
        grid-template-columns: repeat(3, 350px);
        column-gap: 16px;
        justify-content: center;
    }

    &-item{
        min-height: 459px;
        background: linear-gradient(180deg, #141615 0%, #1C2023 100%);
        padding: 17px;
        border-radius: 6px;
        // position: relative;
        &__title, &__subtitle{
            text-align: center;
        }
        &__img{
            width: 100%;
            height: 172px;
            border-radius: 6px;
            overflow: hidden;
            @include bg;
        }
        &__title{
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            margin-top: 20px;
        }
        &__subtitle{
            text-transform: uppercase;
            font-family: 'Rubik';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            color: $sea;
            margin-top: 10px;
            margin-bottom: 32px;
        }
        &__description{
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: $sea;
            display: flex;
            flex-direction: column;
            row-gap: 12px;
        }
        &__price{
            font-family: 'Rubik';
            font-style: normal;
            font-weight: 700;
            font-size: 19px;
            line-height: 23px;
            color: $white;
            text-align: end;
            margin-top: 5px;
        }
        &__btn{
            @include button;
            @include hoverViolet;
            margin-left: auto;
            margin-top: 14px;
            width: 96px;
            height: 30px;
            font-size: 13px;
            line-height: 15px;
        }
    }
}

.dual{
    column-gap: 5%;
    margin-top: 20px;
    transition: column-gap .5s;
    &-description{
        max-width: 410px;
        p{
            color: $sea;
            font-size: 18px;
            line-height: 27px;
            margin-bottom: 22px;
            font-weight: 400;
            span{
                font-weight: 700;
            }
        }
        &__info{
            margin-top: 19px;
            justify-content: space-between;
            align-items: center;
        }
        &__price{
            font-weight: 700;
            font-size: 30px;
            line-height: 36px;
            color: $white;
        }
        &__button{
            @include button($orange);
            @include hoverOrange;
            width: 274px;
            height: 46.77px;
            text-transform: uppercase
        }
        
    }
    &-img{
        max-width: 50%;
        position: relative;
        transform: rotate(40deg);
        img{
            max-width: fit-content;
            animation: gravitation 1.5s linear infinite alternate;
            
        }
        &::before{
            content: '';
            display: block;
            width: 194px;
            height: 194px;
            background: $violet;
            filter: blur(75px);
            position: absolute;
            top: 50%;
            left: 55%;
            transform: translate(-50%, -50%);
        }
    }
}

.video{
    position: relative;
    margin-top: 32px;
    transition: transform .5s;
    transform: scale(1);
    video{
        width: 100%;
        height: auto;
    }
    &-info{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        text-align: center;
        &.hidden{
            opacity: 0;
            &:hover{
                opacity: 1;
            }
        }
        
    }
    &-title{
        font-weight: 500;
        font-size: 50px;
        color: $white;
        line-height: 39px;
    }
    &-btn{
        background: $dark;
        border-radius: 6px;
        padding: 9px 26px;
        font-weight: 500;
        line-height: 16px;
        color: $white;
        display: inline-block;
        cursor: pointer;
        margin: 28px auto 0 auto;
        transition: background 0.25px;
        text-transform: uppercase;
        &:hover{
            background: #525c67;
        }
        &:active{
            background: #444a50;
        }
    }
}   

.explore{
    &-items{
        display: flex;
        flex-direction: column;
        row-gap: 100px;
        margin-top: 32px;

        h3{
            text-align: center;
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
        }

    }
    
    &-item{
        &__price{
            margin-top: 20px;
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            color: $white;
            text-align: center;
        }
    }
    &-switch{
        margin-top: 20px;
        column-gap: 15px;

        &__checkbox{
            width: 54px;
            height: 25px;
            background: $dark;
            border-radius: 12px;
            position: relative;

            input{
                width: 100%;
                height: 100%;
                position: absolute;
                opacity: 0;
                cursor: pointer;
                z-index: 2;

                &:checked{
                    & + span{
                        transform: translateX(28px);
                    }
                }
            }

            span{
                border-radius: 50%;
                background: $violet;
                width: 18px;
                height: 18px;
                position: absolute;
                top: 3px;
                left: 4px;
                transform: translate(0);
                transition: transform .5s;
            }
        }
        &__title{
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: $dark;

            &.active{
                color: $white;
            }
        }
    }
    &-info{
        margin-top: 96px;
        column-gap: 5%;
        transition: column-gap .5s;

        &.reverse{
            flex-direction: row-reverse;
            .explore{
                &-img{
                    justify-content: start;
                }
                &-description{
                    text-align: left;
                }

                &-btn{
                    margin-right: auto;
                }
            }
        }
    }
    &-img{
        width: 50%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: end;
        &__wrap{
            width: 300px;
            height: 300px;
            border-radius: 12px;
            @include bg;
            position: relative;
            img{
                min-width: unset;
                position: absolute;
                bottom: 0;
                left: 0;

            }
        }
    }
    &-description{
        min-width: max-content;
        width: 50%;
        ul{
            flex-direction: column;
            font-weight: 400;
            font-size: 15px;
            line-height: 36px;
            display: none;
            &.active{
                display: flex;
            }
        }

    }
    &-btn{
        @include button($orange);
        @include hoverOrange;
        width: 96px;
        height: 29.85px;    
        font-weight: 500;
        font-size: 13px;
        line-height: 15px;
        margin-top: 27px;
    }
}

.news{
    margin-top: 32px;
    transition: transform .4s;
    transform: translate(0);
    &-item{
        background: linear-gradient(177.87deg, #30373F 41.63%, #141615 185.57%);
        border-radius: 6px;
        padding: 20px;
        &__info{
            justify-content: space-between;
            align-items: center;
        }
        &__subtitle{
            font-weight: 600;
            font-size: 10px;
            line-height: 12px;
            text-transform: uppercase;
        }
        &__date{
            font-weight: 400;
            font-size: 10px;
            line-height: 17px;
            color: $grey;
        }
        &__title{
            font-weight: 600;
            font-size: 19px;
            line-height: 23px;
            text-transform: uppercase;
            color: $white;
            margin: 7px 0 16px 0;

        }
        &__description{
            column-gap: 24px;
            height: 248px;
            align-items: flex-start;
        }
        &__img{
            min-width: 278px;
            height: 100%;
            @include bg;
        }

        &__text{
            flex-direction: column;
            height: 100%;

            p{
                color: #d9d9d9;
                font-weight: 400;
                font-size: 12px;
                line-height: 17px;
            }
        }
        &__button{
            background: $grey;
            border-radius: 6px;
            font-weight: 500;
            font-size: 13px;
            line-height: 15px;
            text-transform: uppercase;
            color: $white;
            margin-top: 10px;
            padding: 8px 30px;
            display: flex;
            width: max-content;
            margin-left: auto;
            margin-top: auto;
            transition: background .25s;

            &:hover{
                background: $dark;
            }
        }
    }
}

.faq{
    &-items{
        flex-direction: column;
        row-gap: 32px;
    }
    &-item{
        transition: transform .4s;
        transform: translate(0);
        &__header{
            width: 100%;
            justify-content: space-between;
            font-weight: 600;
            font-size: 17px;
            line-height: 20px;
            color: $white;
            cursor: pointer;
            border-bottom: 2px solid $violet;
            padding-bottom: 8px;
            span{
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #8C96A0;
                border-radius: 6px;
                width: 30px;
                height: 30px;
                &::before{
                    font-size: 25px;
                    content: '+';
                    transition: transform .25s;
                }
            }
        }
        &__content{
            height: 0;
            opacity: 0;
            transition: height .25s, opacity .25s;
            p{
                padding-top: 15px;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                
            }
        }
        &.opened{
            span{
                &::before{
                    transform: rotate(45deg);
                }
            }
            .faq-item__content{
                opacity: 1;
            }
        }
    }
}

.footer{
    
    padding-top: 156px;
    position: relative;
    padding-bottom: 20px;
    &::before{
        content: '';
        display: block;
        width: 786px;
        height: 439px;
        position: absolute;
        top: 0;
        right: 20%;
        z-index: -1;
        background: url('../images/footer.png') no-repeat center/cover;
    }
    &-top{
        justify-content: space-between;
        
    }
    &-menu{
        column-gap: 22px;
        font-weight: 400;
        line-height: 27px;
        text-transform: uppercase;
        transition: color .2s ease;
        
        a{
            color: rgba(255, 255, 255, .5);
            &:hover{
                color: $violet;
            }
        }
    }
    &-lang{
        font-weight: 700;
        font-size: 14px;
        line-height: 27px;
        cursor: pointer;
        
        span{
            text-transform: uppercase;
            color: $grey;
            margin-right: 5px;
        } 
        &__current{
            color: $white;
        }
        &__list{
            position: relative;
            &:hover{
                color: $orange;
                .footer-lang__content{
                    visibility: visible;
                }
            }
        }
        &__content{
            background: $dark;
            border-radius: 6px;
            padding: 10px;
            position: absolute;
            visibility: hidden;
            &-item{
                cursor: pointer;
                text-transform: uppercase;
                font-weight: 500;
                transition: color .25s ease;
                &:hover{
                    color: $violet;
                }
            }
        }
    }
    &-info{
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        color: $grey;
        margin: 50px auto 38px auto;
    }
    &-icon{
        text-align: center;
    }
    &-year{
        text-align: center;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: $grey;
        margin: 20px auto 13px auto;
    }
    &-rights{
        text-align: center;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: $grey;
        a{
            text-decoration: underline;
        }
    }
}

.swiper{
    &-button{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 32px;
        height: 32px;
        background: #8c96a0;
        border-radius: 6px;
        z-index: 9;
        cursor: pointer;
        transition: background .25s;
        &:hover{
            background: $violet;
        }
    }
    &-item{
        &__prev{
            left: 10%;
        }
        &__next{
            right: 10%;
            // transform: scale(-1, 1);
        }

    }
}

@keyframes move {
    0% {
        opacity: 0;
        transform: translateX(-400px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes gravitation {
    0% {
        transform: translateX(-15px);
    }
    100%{
        transform: translateX(0px);
    }
}
